.images {
  width: 10%;
  height: 10%;
}

div:nth-child(1){
  background-color: lightgreen;
}

app-create-content {
  border: 0.2cm solid white;
  display: block;
  margin-top: 20px;
  padding: 2%;
}
