<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Content Card</title>
  <style>
    /* Add any additional custom styles here */
    .card-container {
      width: 85%;
    }
    img {
      width: 50%;
      height: auto;
      padding: 10px;
    }
  </style>
</head>
<body>

    <!-- content-card.component.html -->
    <div class="content-card">
      <h2>{{ content.title }}</h2>
      <img *ngIf="content.imgUrl; else defaultImage" [src]="content.imgUrl" alt="{{ content.title }}">
      <ng-template #defaultImage>
        <img src="https://cdn.vectorstock.com/i/preview-1x/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg" alt="Default Image">
      </ng-template>
      <p *ngIf="content.description">Description: {{ content.description }}</p>
      <p *ngIf="content.creator">Creator: {{ content.creator }}</p>
      <p *ngIf="content.type" appHoverAffect [affectStyle]="'border'">Type: {{ content.type }}</p>
      <p *ngFor="let tag of content.tags" appHoverAffect [affectStyle]="'bold'">{{ tag }}</p>
    </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
