/* content-card.component.css */

.content-card {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
}

.selected {
  border: 2px solid blue;
  background-color: black !important;
  color: white;
}

.first-card {
  border: 2px solid black;
}

.images {
  width: 10%;
  height: 10%;
}

// .type1 {
//   background-color: lightgreen;
// }

// .type2 {
//   background-color: lightcoral;
// }
