<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Content Card</title>
  <style>
    /* Add any additional custom styles here */
    .card-container {
      width: 85%;
    }
    img {
      width: 100%;
      height: auto;
      padding: 10px;
    }
  </style>
</head>
<body>
    <!-- content-card.component.html -->
    <div class="content-card" (click)="displayContentInfo()">
      <h2>{{ content.title }}</h2>
      <img *ngIf="content.imgUrl" src="{{ content.imgUrl }}" alt="{{ content.title }}">
      <p *ngIf="content.description">Description: {{ content.description }}</p>
      <p *ngIf="content.creator">Creator: {{ content.creator }}</p>
      <p *ngIf="content.type">Type: {{ content.type }}</p>
      <p *ngIf="content.tags && content.tags.length > 0">Tags: {{ content.tags.join(', ') }}</p>
    </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
