/* content-card.component.css */

.content-card {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
}

.selected {
  background-color: black;
  color: white;
}

// .type1 {
//   background-color: lightgreen;
// }

// .type2 {
//   background-color: lightcoral;
// }
